@(topics: List[Topic])

@main(title = "Accio!") {
    <h1>Accio!</h1>

    <ul>@topics.map { topic =>
        <li><a href="/editor/topics/@topic.id">@topic.name</a></li>
    }</ul>


    <h2>Create new callout</h2>
    <form action="/editor/topics" method="post">
        <input type="text" name="name" class="form-control" />

        <div class="control-group">
            <input type="checkbox" id="trackGeo" name="trackGeo" value="true" />
            <label for="trackGeo">Request position</label>
        </div>

        <input type="submit" value="Add" class="btn btn-default" />
    </form>
}
