@(title: String)(content: Html)

<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/typeahead.css")" rel="stylesheet">
        <style>
            .form-row {
                display: block;
                margin-bottom: 1em;
            }
        </style>
    </head>
    <body>

        <div class="container">@content</div>

    </body>

    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</html>
