@(topic: Topic, locations: Map[String, Location])
@import controllers.Application.countAnswers
@import controllers.Application.answerPercentage

@main(title = s"${topic.name} - Accio!") {

<h1>@topic.name</h1>

@if(topic.trackGeo) {

<h2>Map</h2>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUnPN81p2r7_YaRQvgo0gJ_G1qA3_kU1Y">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mediaLab = new google.maps.LatLng(42.360781, -71.0873);
        var mapOptions = {
          center: mediaLab,
          zoom: 16
        };

        var holder = document.getElementById("map-canvas");
        var map = new google.maps.Map(holder, mapOptions);
        holder.style.height = '600px'

        var markers = [];

      // TODO: poll API, set markers
        setInterval(refreshMarkers, 1000);

        var counterEl = document.getElementById('map-counter');

        function refreshMarkers() {
          $.ajax('/api/locations').then(function(resp) {
            var locations = resp[0];
            var positions = Object.keys(locations).map(function(key) {
              return locations[key];
            }).map(function(location) {
              return new google.maps.LatLng(location.latitude, location.longitude);
            });
  //          var positions = [mediaLab];
            // Remove existing markers
            markers.forEach(function(marker) {
              marker.setMap(null);
            });

            // Set new markers
            markers = positions.map(function(pos) {
              return new google.maps.Marker({
                position: pos,
                map: map
              });
            });

            counterEl.innerHTML = positions.length;
          });

        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <p><span id="map-counter">0</span> readers connected...</p>
    <div id="map-canvas"></div>
}


<h2>Questions</h2>

<ul>
    <!-- TODO: chart (which kind?) -->
    @topic.questions.map{
        case MultipleChoice(questionId, question, answers) => {
            <li>@question
                <ul>
                    @answers.map { answer =>
                        <li>@answer: @countAnswers(topic.id, questionId, answer) (@answerPercentage(topic.id, questionId, answer)%)</li>
                    }
                </ul>
            </li>
        }
    }
</ul>


<h2>Add new question</h2>

<form action="/editor/topics/@topic.id" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2">Question:</label>
        <div class="col-sm-10">
            <input type="text" name="question" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Type:</label>
        <div class="col-sm-4">
            <select name="type" class="form-control">
                <option value="choices">Multiple choice</option>
                <option value="free">Free form</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Choices:</label>
        <div class="col-sm-10">
            <ol>
                <li><input type="text" name="answer-1" class="form-control" style="display: inline"></li>
                <li><input type="text" name="answer-2" class="form-control" style="display: inline"></li>
                <li><input type="text" name="answer-3" class="form-control" style="display: inline"></li>
                <li><input type="text" name="answer-4" class="form-control" style="display: inline"></li>
            </ol>
        </div>
    </div>

    @if(! topic.questions.isEmpty) {
    <div class="form-group">
        <label class="control-label col-sm-2">Constraints:</label>
        <div class="col-sm-10">
            <ul class="list-unstyled">
            @topic.questions.map{
                case MultipleChoice(id, question, answers) => {
                <li class="form-inline">Has answered
                    <select class="form-control">
                        <option>Anything</option>
                        @answers.map { answer =>
                            <option>@answer</option>
                        }
                    </select>
                    to “@question”
                </li>
                }
                case _ => {}
            }
            </ul>
        </div>
    </div>
    }

    <!-- TODO: Target: based on geo location -->
    <!-- TODO: Target: based on articles read by tags  -->
    <!-- TODO: Target: based on previous queries -->

    <input type="submit" value="Add" class="btn btn-default" />
</form>

}
